*.lo
*.o
.deps/
.libs/
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libtool
/stamp-h1
/Makefile.in
/Makefile
/aclocal.m4
/config.h.in
/configure
/doc/stamp-vti
/doc/version.texi
/gl/Makefile.in
/m4/Makefile.in
/src/Makefile.in
/doc/Makefile.in
/doc/ksba.info
/tests/Makefile.in
/src/asn1-parse.c
/VERSION
