[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/pegtl"]
	path = 3rdparty/pegtl
	url = https://github.com/taocpp/PEGTL.git
[submodule "3rdparty/rang"]
	path = 3rdparty/rang
	url = https://github.com/agauniyal/rang.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/taocpp/json.git
