*.lo
*.o
.deps/
.libs/
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libtool
/stamp-h1
/Makefile.in
/Makefile
m4/Makefile.in
m4/Makefile
src/Makefile.in
src/Makefile
src/assuan.h
src/libassuan-config
src/libassuan.la
src/mkheader
src/versioninfo.rc
doc/Makefile.in
doc/Makefile
doc/assuan.info
doc/stamp-vti
doc/version.texi
tests/Makefile.in
tests/Makefile
tests/fdpassing
tests/pipeconnect
