# autogen.sh configuration for Libassuan                       -*- sh -*-

case "$myhost" in
  w32)
    configure_opts="
      --with-gpg-error-prefix=@SYSROOT@
      "
    ;;

  amd64)
    configure_opts="
      --with-gpg-error-prefix=@SYSROOT@
     "
    ;;
esac

final_info="./configure --enable-maintainer-mode && make"
