*.lo
*.o
.deps/
.libs/
po/*.gmo
po/messages.mo
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.h.in
src/err-codes.h
src/err-sources.h
/po/libgpg-error.pot
/lang/Makefile
/lang/cl/Makefile
/lang/cl/gpg-error-codes.lisp
/lang/cl/gpg-error.asd
/libtool
/m4/Makefile
/po/Makefile
/po/POTFILES
/po/stamp-po
/config.log
/config.status
/config.h
/Makefile
/src/Makefile
/src/code-from-errno.h
/src/code-to-errno.h
/src/err-codes-sym.h
/src/err-sources-sym.h
/src/errnos-sym.h
/src/extra-h.in
/src/gpg-error
/src/gpg-error-config
/src/gpg-error.def
/src/gpg-error.h
/src/libgpg-error.la
/src/mkerrcodes
/src/mkerrcodes.h
/src/mkw32errmap.map.c
/src/versioninfo.rc
/stamp-h1
/tests/Makefile
/tests/t-strerror
/tests/t-syserror
/doc/gpgrt.info
/doc/stamp-vti
/doc/version.texi
/VERSION
